h2 {
    font-size: 350%;
    font-weight: bold;
    margin-top: 130px;
}
header {
    background-image: url(img/BMW%20-%20Front%20Page.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.navigation-img {
    position: relative;
    margin-top: 40px;
    margin-bottom: 0;
    height: 400px;
    width: 80%;
} 
.after {
    transition: .7s ease; 
}
.after h3 {
    font-size: 200%;
    padding-top: 10px;
    padding-right: 20px;
    text-align: right;
}
.navigation-img img {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.navigation-img .after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #ffffff;
}
.navigation-img:hover .after {
    display: block;
    background: rgba(0, 0, 0, .25)
}
.self {
    float: left;
    height: 100%;
    width: 100%;
    position: relative;
    object-fit: cover;
}
.padding-h2 {
    margin-bottom: 40px;
}


