h2 {
    font-size: 350%;
    font-weight: bold;
    margin-top: 130px;
}
header {
    background-image: url(img/BMW%20-%20Front%20Page.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.navigation-img {
    position: relative;
    margin-top: 40px;
    margin-bottom: 0;
    height: 400px;
    width: 80%;
} 
.after {
    transition: .7s ease; 
}
.after h3 {
    font-size: 200%;
    padding-top: 10px;
    padding-right: 20px;
    text-align: right;
}
.navigation-img img {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.navigation-img .after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: rgb(255, 255, 255);
}
.navigation-img:hover .after {
    display: block;
    background: rgba(0, 0, 0, .25)
}
.self {
    float: left;
    height: 100%;
    width: 100%;
    position: relative;
    object-fit: cover;
}
.padding-h2 {
    margin-bottom: 40px;
}
footer {
    background-color: #242424;
}
 .padding-footer {
    padding-top: 5%;
    padding-bottom: 1%;
}
 .footer-nav-left {
    list-style-type: none;
    float: left;
}
.footer-nav-right {
    list-style-type: none;
    float: right;
}
.footer-nav-left li,
.footer-nav-right li {
    display: inline-block;
    margin-right: 10px;
} 
.footer-nav-left li a:link, 
.footer-nav-left li a:visited,
.footer-nav-right li a:link, 
.footer-nav-right li a:visited  {
  padding: 3px 0;
  color: #ffffff;
  text-decoration: none;
  text-transform: none;
  font-size: 100%;
  font-weight: 500;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s;
} 
.footer-nav-left li a:hover,
.footer-nav-left li a:active,
.footer-nav-right li a:hover, 
.footer-nav-right li a:active {
  color: rgba(102, 29, 170, 0.788);
}