* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} html {
    background-color: #222222;
    color: #dedede;
    font-weight: 300;
    font-size: 20px;
    font-family: 'Sarabun', sans-serif;
    text-rendering: optimizeLegibility;
} .row {
    max-width: 95%;
    margin: 0 auto;
}
/*---Navigation---*/
.logo {
    margin-top: 40px;
    height: 75px;
    width: auto;
} .main-nav {
    float: right;
    list-style: none;
    margin-top: 40px;
} .main-nav li {
    display: inline-block;
    margin-left: 40px;
} .main-nav li a:link, 
  .main-nav li a:visited {
    padding: 3px 0;
    color: #2f3640;
    text-decoration: none;
    text-transform: none;
    font-size: 100%;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
} .main-nav li a:hover,
  .main-nav li a:active {
    border-bottom: 2px solid rgba(102, 29, 170, 0.788);
} 